/* Use in online production code, otherwise not needed in local hosting */
/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */

@font-face {
    font-family: 'Muli';
    src: local('Muli'), url(./fonts/Muli-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Muli';
    src: local('@'), url(./fonts/Muli-Bold.ttf) format('truetype');
    font-weight: bold;
}

div {
    font-size: 20px;
    font-family: 'Muli', sans-serif;
}

button {
    height: 80px;
    width: 225px;
    font-size: 16px;
    font-family: 'Muli';
    border-radius: 20px;
    padding: 10px;
}

.nav-bar {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.nav-bar-items {
    display: flex;
    height: 100%;
    align: center;
}

.nav-bar-items ul {
    list-style: none;
    margin: 5;
    padding: 0;
    display: flex;
}

.nav-bar-items li {
    padding: 0 0.5rem;
}
