.grid-container .table-header {
    color: white;
    font-family: 'Muli';
    font-size: 0.6em;
}

.grid-container .desktop-cell {
    font-family: 'Muli';
    font-size: 0.8em;
}

.grid-container .mobile-cell {
    font-family: 'Muli';
    font-size: 0.6em;
}

.grid-container .desktop-table {
    display: 'flex';
    flex: 1;
    background-color: white;
}

.grid-container .mobile-table {
    margin: 10px;
    width: 95%;
    height: 90%;
    background-color: white;
}

.button-container {
    display: flex;
}

.button-container .button {
    margin: 0.5em;
    width: 12em;
    height: 4em;
}

.filter-container .form-container {
    margin: 0.3em;
    columns: 2;
}

.desktop-icon {
    height: 50px;
    width: 50px;
}

.mobile-icon {
    height: 40px;
    width: 40px;
}